@import "./../styles.scss";

mat-sidenav-container {
    height: 100vh;
}

mat-toolbar {
    position: fixed;
    height: 10vh;
    z-index: 999999;
    border-bottom: 0.125rem solid var(--black);
}

mat-nav-list {
    padding: 0;
}

#brand  {
    height: 100%;
}

mat-toolbar img {
    margin-right: 0.5rem;
}

mat-toolbar span {
    color: var(--black);
}

mat-sidenav {
    width: 20%;
    position: fixed;
    top: 10vh;
    border: 0;
    box-sizing: content-box;
    overflow: visible;
}

app-sidebar {
    display: flex;
    height: 100%;
    width: 100%;
    border-right: 0.125rem solid var(--black);
}

mat-sidenav-content {
    min-width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

mat-sidenav-content .authenticated {
    margin-top: 10vh;
}

@media screen and (max-width: 640px) {
    mat-sidenav {
        width: 100%;
    }

    mat-sidenav-content {
        margin-top: 0;
        min-width: 100%;
    }
}
