<div class="bg-dark">
    <div class="container py-5">
        <div class="row" *ngIf="!auth.loggedIn()">
            <app-sidebar class="col-2 py-5"></app-sidebar>
            <div class="col-2"></div>
            <main class="main container col px-0">
                <div class="content">
                    <div>
                        <h1>Welcome to {{ title }}!</h1>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </main>
        </div>
        <div class="row" *ngIf="auth.loggedIn()">
            <div class="d-flex flex-column align-items-center col col-md-6 col-lg-4">
                <h1 class="text-white">Avalon</h1>
                <img src="logo.png" alt="Avalon" class="img-fluid" height="400" width="400">
            </div>
            <div class="divider" role="separator" aria-label="Divider"></div>
            <div class="main container col px-0">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
