<div class="banner">
    <div class="logo-container">
        <img src="logo.png" alt="Avalon">
    </div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Bienvenido a Avalon</mat-card-title>
            <mat-card-subtitle>El lugar donde comienzan tus aventuras</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Únete a Avalon y explora un mundo de posibilidades.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="accent" routerLink="/sign-in">Iniciar Sesión</button>
            <button mat-stroked-button color="accent" routerLink="/sign-up">Registrarse</button>
        </mat-card-actions>
    </mat-card>
</div>
