<nav class="sidebar bg-dark text-white h-10 ps-4">
    <div class="sidebar-header">
        <a class="navbar-brand text-white d-flex" href="/">
            <h3 class="text-white">
                <img src="logo.png" alt="Avalon" class="img-fluid" height="40" width="40">
                {{ title }}
            </h3>
        </a>
    </div>
    <ul class="nav flex-column h-100">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fa fa-home"></i><span class="nav-text ms-1">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/games">
                <i class="fa fa-gamepad"></i><span class="nav-text ms-1">Games</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fa fa-users"></i><span class="nav-text ms-1">Following</span>
            </a>
        </li>
    </ul>
</nav>
