.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10%;
    width: initial;
}

.banner mat-card {
    padding: 2rem;
}

.logo-container img {
    max-width: 25rem;
}

.summary {
    margin: 1.5rem 0;
}

mat-card-actions > * {
    margin-right: 1rem;
}

@media screen and (max-width: 640px) {
    .banner {
        flex-direction: column;
    }
}
