.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10%;
    width: initial;
    background-image: url('./../../../../../public/background.jpg');
    background-size: cover;
}

.banner mat-card {
    padding: 2rem;
    box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.4);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    max-width: 25vw;
    margin-right: 3rem;
}

.summary {
    margin: 1.5rem 0;
}

mat-card-actions > * {
    margin-right: 1rem;
}

@media screen and (max-width: 640px) {
    .banner {
        flex-direction: column;
    }

    .logo-container img {
        max-width: 80%;
        margin-right: 0;
    }
}
